<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- Connection -->
  <category label="70000">
    <setting label="70040" id="hostname"          type="text"   default="127.0.0.1" />
    <setting label="70041" id="webporthttp"       type="number" default="80" />
    <setting label="70042" id="streamport"        type="number" default="8001" />
    <setting label="70043" id="useauthentication" type="bool"   default="false" />
    <setting label="70044" id="username"          type="text"   default="" visible="eq(-1,true)" />
    <setting label="70045" id="password"          type="text"   default="" visible="eq(-2,true)" option="hidden" />
    <setting label="70046" id="usesecurehttp"     type="bool"   default="false"/>
    <setting label="70047" id="webporthttps"      type="number" default="443" visible="eq(-1,true)" />
  </category>

  <!-- Channels -->
  <category label="70001">
    <setting label="70020" type="lsep" />
    <setting label="70060" id="selecttvchannelgroups"    type="bool"      default="false"/>
    <setting label="70061" id="tvchannelgroupstoload"    type="labelenum" default="1" values="1|2|3|4|5" visible="eq(-1,true)" />
    <setting label="70062" id="tvchannelgroupone"        type="text"      default=""  visible="eq(-2,true)" />
    <setting label="70063" id="tvchannelgrouptwo"        type="text"      default=""  visible="eq(-3,true) + gt(-2,0)" />
    <setting label="70064" id="tvchannelgroupthree"      type="text"      default=""  visible="eq(-4,true) + gt(-3,1)" />
    <setting label="70065" id="tvchannelgroupfour"       type="text"      default=""  visible="eq(-5,true) + gt(-4,2)" />
    <setting label="70066" id="tvchannelgroupfive"       type="text"      default=""  visible="eq(-6,true) + gt(-5,3)" />
    <setting label="70021" type="lsep" />
    <setting label="70067" id="loadradiochannelsgroup"   type="bool"      default="false"/>
    <setting label="70022" type="lsep" />
    <setting label="70068" id="zap"                      type="bool"      default="false"/>
  </category>

  <!-- Recordings/Timers -->
  <category label="70002">
    <setting label="70023" type="lsep" />
    <setting label="70080" id="recordingpath"            type="text" default="" />
    <setting label="70081" id="onlycurrentrecordingpath" type="bool" default="false"/>
    <setting label="70024" type="lsep" />
    <setting label="70082" id="timerlistcleanup"         type="bool" default="true"/>
  </category>

  <!-- Advanced -->
  <category label="70003">
    <setting label="70025" type="lsep" />
    <setting label="70100" id="usetimeshift"   type="bool"   default="false" />
    <setting label="70101" id="timeshiftpath"  type="text"   default="special://userdata/addon_data/pvr.enigma2.stb" option="writeable" enable="eq(-1,true)" />
    <setting label="70026" type="lsep" />
    <setting label="70102" id="onlinepicons"   type="bool"   default="true" />
    <setting label="70103" id="piconspath"     type="folder" default="" enable="eq(-1,false)" />
    <setting label="70022" type="lsep" />
    <setting label="70104" id="updateinterval" type="number" default="20" />
    <setting label="70105" id="sendpowerstate" type="bool"   default="false" />
  </category>
</settings>
